div#headerContainer
    header
        a.headerHome(href="/")
            div.headerImg(title="logo")
            h1.headerTitle OPPTAKET
        nav.desktopNav
            ul.desktopNavList
                li 
                    a(href="/") HJEM
                li
                    a(href="/sok") SØK
                li
                    a(href="/om") OM
                li
                    a(href="/nyttige-lenker") NYTTIGE LENKER
        div.burgerContainer(onclick="toggleMenu(this)")
            div.bar1
            div.bar2
            div.bar3
    nav.displayNone#mobileNav
        ul.mobileNavList
            li 
                a(href="/") HJEM
            li
                a(href="/sok") SØK
            li
                a(href="/om") OM
            li
                a(href="/nyttige-lenker") NYTTIGE LENKER
    script(src="./javascripts/burgerMenu.js")
    script(src="./javascripts/stickyHeader.js")