form(action="/sok", method="get")
    input.searchField(type="text", name="sokeord", aria-label="Søk etter studier eller skoler", value=searchQuery ? searchQuery : '', placeholder="Søk etter studier")
    input.searchSubmit(type="submit" value="" aria-label="Søk")