extends layout

block variables
  - var siteName = ''
  - var metaDescription = `Se hva opptakskravene for ulike studier på Samordna Opptak var i ${latestYear}, og hva vi tror poenggrensene vil være i ${parseInt(latestYear)+1}.`

block content
  div.centerContent
    h1.welcomeHeading.centerText Velkommen!
    p.welcomeDescription.centerText Vi gir deg oversikt over opptakskrav for ulike høgskole- og universitetsstudier på Samordna Opptak, i tillegg til å predikere hva poenggrensene kan bli ved neste opptak.
    include includes/searchField.pug
    include includes/topLists.pug