extends layout

block variables
  - var siteName = 'Nyttige lenker'
  - var metaDescription = 'Her finner du nyttige lenker for å regne ut karakterpoengene dine og for å søke på offisielle poenggrenser hos Samordna Opptak.'

block content
    div.centerContent
        h1.normalWeight Nyttige lenker
        a(href="https://utdanning.no/karakterkalkulator/#/").aboutSection
            h2 Karakterkalkulator
            p Enkel måte å regne ut poengene du har opparbeidet.
        a(href="https://sok.samordnaopptak.no/#/studies").aboutSection
            h2 Offisielle poenggrenser
            p På Samordna Opptak kan du søke etter studier og finne dens offisielle poenggrenser samt opptakskrav for ulike kvoter.